# The Weather Dataset

Here, The Weather Dataset is a time-series data set with per-hour information about the weather conditions at a particular location. It records Temperature, Dew Point Temperature, Relative Humidity, Wind Speed, Visibility, Pressure, and Conditions.

This data is available as a CSV file. We are going to ahalyze this data set using the Pandas DataFrame.

In [76]:
import pandas as pd

In [77]:
data = pd.read_csv(r"E:\4.Python\6. Pandas project\dataset1_wheather.csv")

In [ ]:
data

# How to Analyze DataFrame?

## .head() :
It shows the first N rows in the data (by default, N=5)

In [ ]:
data.head()
# data.head(10)

## .shape
It shows the total no. of rows and no. of colums of the DataFrame

In [ ]:
data.shape

# .index
This attribute provides the index of the dataframe

In [ ]:
data.index

# .columns
It shows the name of ech column

In [78]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

# .dtypes
It shows the data-types of each column

In [79]:
data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

# .unique()
In a column. its shows all the unique values. It can be applied on a single column only, not on the whole dataframe

In [80]:
data['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

# .nunique()
It shows the total no. of unique values in each column. It can be applied on a single column as well as on whole dataframe.

In [ ]:
data.nunique()

# .count

It shows the total no. of non-null in each column. It can be applied on a single column as well as on whole dataframe.

In [ ]:
data.count()

# .value_counts

In a column, it shows all the unique values with their count. It can be applied on single column only.

In [ ]:
data['Weather'].value_counts()

# .info()

Provides basic information about the dataframe.

In [ ]:
data.info()

# Q) 1. Find all the unique 'Wind Speed' values in the data.

In [ ]:
data.head(2)

In [ ]:
data.nunique()

In [ ]:
data['Wind Speed_km/h'].nunique()

In [ ]:
data['Wind Speed_km/h'].unique()

# Q) 2. Find the number of times when the 'Weather is exactly Clear'.

## value_counts()

In [ ]:
# data.Weather.value_counts()
# hoáº·c 
data['Weather'].value_counts()

## Filtering

In [81]:
# data.head(2)
# data.Weather == 'Clear'

data [data.Weather == 'Clear']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

## groupby()

In [82]:
# data.head(2)
data.groupby('Weather').get_group('Clear')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

# Q) 3. Find the number of times when the 'Wind Speed was exactly 4 km/h'.

In [ ]:
data.head(2)

In [ ]:
# data['Wind Speed_km/h'] == 4
data[data['Wind Speed_km/h'] == 4]

# Q) 4. Find out all the Null Values in the data.

In [ ]:
data.isnull().sum()

In [ ]:
data.notnull().sum()

# Q. 5) Rename the column name 'Weather' of the dataframe to 'Weather Condition'.

In [ ]:
data.head(2)

In [ ]:
data.rename(columns = {'Weather':'weather'}, inplace = True)

In [ ]:
data.head(2)

# Q.6) What is the mean 'Visibility'?

In [ ]:
data.head(2)

In [ ]:
data.Visibility_km.mean() # data['Visibility_km'].mean()

# Q. 7) What is the Standard Deviation of 'Pressure' in this data?

In [ ]:
data.Press_kPa.std() # data['Press_kPa'].std()

# Q. 8) Whats is the Variance of 'Relative Humidity' in this data ?

In [ ]:
data['Rel Hum_%'].var()

# Q. 9) Find all instances when 'Snow' was recorded.

## value_counts()

In [ ]:
data.head()
data['weather'].value_counts()

## filtering

In [ ]:
# data['weather'] == 'Snow'
data[data['weather'] == 'Snow']

## str.contains

In [ ]:
data [data['weather'].str.contains('Snow')].head(10)

# Q. 10) Find all instances when 'Wind Speed is above 24' and 'Visibility isate Window 25'.

In [ ]:
data.head()

In [ ]:
data[(data['Wind Speed_km/h'] > 24)  & (data['Visibility_km'] ==25)]

# Q. 11) What is the Mean value of each column against each 'Weather Conditon' ?

In [ ]:
data.head(2)

In [ ]:
# Assuming your DataFrame is named 'data'
data['Date/Time'] = pd.to_datetime(data['Date/Time'])
data.set_index('Date/Time', inplace=True)

In [ ]:
# Calculation mean
data.groupby('weather').mean()

# Q. 12) What is the Minimum & Maximum value of each column against each 'Weather Conditon'?

In [ ]:
data.head(2)

In [ ]:
data.groupby('weather').min()

In [ ]:
data.groupby('weather').max()

# Q. 13) Show all the Records where Weather Condition is Fog.

In [ ]:
data.head(2)

In [ ]:
foggy_data = data[data['weather'] == 'Fog']
foggy_data

# Q. 14) Find all instances when 'Weather is Clear' or 'Visibility is above 40'.

In [ ]:
data[data.weather == 'Clear'].head(5)

In [ ]:
condition = (data['weather'] == 'Clear') | (data['Visibility_km']>40)
data[condition]

# Q. 15) Find all instances when :

A. 'Weather is Clear' and 'Relative Humidity is greater than 50'

or

B. 'Visibility is above 40'

In [ ]:
data.head(2)

In [ ]:
condition = (data['weather'] == 'Clear') & (data['Rel Hum_%'] >50) | (data['Visibility_km'] >40)
data[condition]